body{
    margin:0px;
    padding: 0px;
    direction:ltr;
    color:#010101;;
    font-family:'PT Sans', sans-serif;
}

.heroSection{
    background: #fcdb00;
}
.logo{
    float:left;
    width:50%;
}
.menu{
    float:right;
}

.menu ul{
    text-align:center;
    display:inline-block;
}


.clear{
    clear:both;
   
}
.container{
    width:937px;
    margin:0 auto;
}
.menu ul li a{
    color:#010101;
    font-size:22px;
    font-weight:bold;
    text-decoration:none;
}
.menu ul li{
    list-style-type:none;
    margin-left: 52px;
}
.menu ul li:first-child{
    margin-left:0px;
}
.menu ul li a:hover{
    text-decoration:underline;
}
.heroDesc{
    width:50%;
    float:left;
    box-sizing:border-box;
    padding-top:135px;
}
.heroDesc h1{
    font-size:32px;
    font-weight: bold;
}
.heroDesc h2{
    color:#313841;
    font-size:20px;
    font-weight:normal;
    box-sizing:border-box;
    text-align:left;
    padding-right:85px;
}
.heroDesc p{
    color:#555555;
    font-size:16px;
    box-sizing: border-box;
    padding-right: 85px;
}
a.link{
    color:#010101;
    font-size:42px;
    text-decoration:none;
    margin-right:37px;
}
a.link:last-child{
    margin-right: 0px;
}
.heroImg{
    float: right;
    width: 50%;
}
.heroImg img{
    margin-top:60px;
    margin-left: 182px;
}
h2.secondSec{
    font-size:32px;
    font-weight:bold;
    text-align:center;
    
}
p.titleDesc{
    font-size:20px;
    color:#313841;
    text-align:center;
}
.row{
    width:100%;
    height:auto;
    margin-bottom: 30px;
}
.featuresItem{
    width:33.3%;
    height: auto;
    float: left;
}
.featuresIcon{
    float:left;
    width:60px;
    font-size:50px;
    box-sizing:border-box;
    padding-top:30px;
}
.featuresDesc{
    float: right;
    width: calc(100% - 60px);
    box-sizing:border-box;
    padding-right:20px;
    padding-left:5px;
}
.featuresDesc h3{
    font-size: 22px;
}
.featuresDesc p{
    font-size: 16px;
    color: #898989;
}
.keepSection h2{
    color: #fcdb00;
    text-align: center;
}
.keepSection{
    background: #010101;
}
.keepSection p{
    color: #898989;
}
.footerColumn{
    padding-top: 120px;
}
.mailInput{
height: 50px;
width: 580px;
border-radius: 5px;
padding-left:25px;
border: 0px;
font-size: 16px;
}
.submitInput{
    background:#fcdb00;
    color: #010101;
    width:130px;
    height: 50px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
    transition-duration: 0.3s;
}
.submitInput:hover{
    background:#ddc314;
    cursor: pointer;
    transition-duration: 0.3s;
}
.keepSection form{
    text-align: center;
    margin-top:35px;
}
.social{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top:75px;
}
.social a{
    color: #010101;
    width: 37px;
    height: 37px;
    background: #fcdb00;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin-left:35px;
    line-height: 42px;
    transition-duration: 0.3s;
}
.social a:first-child{
    margin-left: 0px;
}
.social a:hover{
    background:#ddc314;
    transition-duration: 0.3s;
}
.footerColumn{
    width: 20%;
    height: auto;
    float: left;
}
.footerColumn p,
.footerColumn span{
    color: #ffffff;
}
.footerColumn span{
    display: inline-block;
}
.footerColumn p,
.footerColumn ul{
    margin: 0px;
}
.footerColumn ul li a{
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}
.footerColumn ul li a:hover{
    color: #fcdb00;
    transition-duration: 0.3s;
}




    
